/* 
//
-nav-color: #333
-cta: background: #DA8F4D;
-abt us background: #DA8F4D17;
topcollection-gradiant: #E2DDD0;
name-text: #EA9112;
text: #B4C7CE;
number: #2B2B2B;
//
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "poppins", sans-serif;
  background-color: #000000;
}
:root {
  --nav-color: #272727;
  --cta-background: #da8f4d;
  --abt-us-background: #da8f4d17;
  --name-text: #ea9112;
  --text: #b4c7ce;
  --number: #2b2b2b;
}
.primary-heading {
  font-size: 3.5rem;
  line-height: 4rem;
  letter-spacing: 0.3rem;
  color: #fff;
}
.secondary-heading {
  font-size: 3rem;
  font-weight: 500x;
  color: #fff;
  text-align: center;
  padding: 1.4rem;
  padding-bottom: 4rem;
}
p {
  margin-top: 2rem;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.2rem;
  color: #fff;
}
.hero-number-info {
  padding: 1rem 0rem;
  font-size: 2rem;
  font-weight: 400;
  color: #000;
}
/* GENERAL CSS */
.grid {
  display: grid;
}
.grid-1-cols {
  grid-template-columns: 1fr;
}
.grid-2-cols {
  grid-template-columns: 1fr 1fr;
}
.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}
